apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: vault-pdb
  namespace: vault
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: vault
      component: server

