apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-nginx-conf
  namespace: frontend
data:
  default.conf: |
    server {
      listen 8080;
      server_name _;
      root /usr/share/nginx/html;
      index index.html;
      location / {
        try_files $uri /index.html;
      }
      location /assets/env.js {
        default_type application/javascript;
      }
      location /assets/ {
        expires 1d;
        add_header Cache-Control "public";
      }
    }