name: K8s Manifests Security

on:
  push:
    branches: [ main, pipeline ]
    paths:
      - '**/*.yaml'
      - '**/*.yml'
      - '.github/workflows/k8s-manifest-security.yml'
  pull_request:
    branches: [ main, pipeline ]
    paths:
      - '**/*.yaml'
      - '**/*.yml'
      - '.github/workflows/k8s-manifest-security.yml'

env:
  MANIFEST_DIR: .

jobs:
  k8s-manifest-security:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Trivy CLI
        run: |
          TRIVY_VERSION=0.68.1
          wget -q https://github.com/aquasecurity/trivy/releases/download/v${TRIVY_VERSION}/trivy_${TRIVY_VERSION}_Linux-64bit.tar.gz
          tar zxvf trivy_${TRIVY_VERSION}_Linux-64bit.tar.gz
          sudo mv trivy /usr/local/bin/trivy
          trivy --version

      - name: Trivy scan
        run: |
          trivy fs \
            --scanners misconfig,secret \
            --format table \
            --ignore-unfixed \
            --severity CRITICAL,HIGH \
            --exit-code 1 \
            "${MANIFEST_DIR}"

